.advantages {
  position: relative;
  margin-bottom: 44px;
}

.advantages::before {
  content: url("../img/bg-zigzag-line.svg");

  position: absolute;
  top: -32px;
  left: 0;

  width: 100%;
}

.advantages__container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
}

.advantages__title {
  box-sizing: border-box;
  width: 260px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 4px;
  padding-right: 10px;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;
  width: 260px;
  padding-top: 83px;
}

.advantages__item--eco::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 8px;

  width: 32px;
  height: 37px;

  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item--price::before {
  content: "";

  position: absolute;
  top: 28px;
  left: 0;

  width: 47px;
  height: 27px;

  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item--photo::before {
  content: "";

  position: absolute;
  top: 32px;
  left: 7px;

  width: 34px;
  height: 27px;

  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item--love::before {
  content: "";

  position: absolute;
  top: 30px;
  left: 2px;

  width: 35px;
  height: 34px;

  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item--national::before {
  content: "";

  position: absolute;
  top: 32px;
  left: -6px;

  width: 55px;
  height: 23px;

  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item--gift::before {
  content: "";

  position: absolute;
  top: 28px;
  left: 2px;

  width: 33px;
  height: 32px;

  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-bottom: 86px;
  }

  .advantages::before {
    top: -56px;
  }

  .advantages__container {
    display: flex;
    flex-direction: column;
    width: 668px;

    margin: 0 auto;
  }

  .advantages__title {
    width: 668px;
    margin-bottom: -10px;
    margin-left: -4px;
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
  }

  .advantages__item {
    width: 310px;
    margin-right: 24px;
    padding-top: 110px;

    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item--price {
    order: 3;
  }

  .advantages__item--photo {
    order: 5;
  }

  .advantages__item--love {
    order: 2;
  }

  .advantages__item--national {
    order: 4;
  }

  .advantages__item--gift {
    order: 6;
  }

  .advantages__item--eco::before {
    top: 54px;
  }

  .advantages__item--price::before {
    top: 56px;
  }

  .advantages__item--photo::before {
    top: 62px;
  }

  .advantages__item--love::before {
    top: 58px;
  }

  .advantages__item--national::before {
    top: 60px;
  }

  .advantages__item--gift::before {
    top: 58px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 82px;
  }

  .advantages::before {
    content: none;
  }

  .advantages__container {
    position: relative;
    width: 1050px;
    padding-bottom: 10px;
    padding-left: 172px;
  }

  .advantages__container::before {
    content: url("../img/bg-zigzag-line.svg");

    position: absolute;
    top: -72px;
    left: 0;

    width: 100%;
  }

  .advantages__title {
    width: 700px;
    margin-bottom: -10px;
    margin-left: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__list {
    width: 700px;
  }

  .advantages__item {
    margin-right: 35px;
    padding-left: 4px;
  }

  .advantages__item--eco::before {
    top: 56px;
    left: 11px;
  }

  .advantages__item--price::before {
    top: 58px;
    left: 4px;
  }

  .advantages__item--photo::before {
    top: 64px;
    left: 11px;
  }

  .advantages__item--love::before {
    top: 59px;
    left: 7px;
  }

  .advantages__item--national::before {
    top: 60px;
    left: -3px;
  }

  .advantages__item--gift::before {
    top: 60px;
    left: 6px;
  }
}
