.catalog-section {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-section__item {
  margin: 0;
  padding: 0;
}

.catalog-section__item--left {
  background-color: #63d1bb;
}

.catalog-section__item--right {
  background-color: #56c3b2;
}

.catalog-section__link {
  position: relative;
  display: block;
  box-sizing: border-box;

  width: 260px;
  margin: 0 auto;

  padding-top: 26px;
  padding-bottom: 29px;
  padding-right: 100px;

  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  text-align: left;
}

.catalog-section__link--decor::before {
  content: "";

  position: absolute;
  top: 22px;
  left: 214px;

  width: 40px;
  height: 62px;

  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.catalog-section__link--toys::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 203px;

  width: 60px;
  height: 60px;

  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .catalog-section {
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  .catalog-section__item--left {
    background-color: transparent;
  }

  .catalog-section__item--right {
    background-color: transparent;
  }

  .catalog-section__link {
    width: 334px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 42px;
    padding-left: 36px;
    padding-right: 184px;
  }

  .catalog-section__link--decor {
    background-color: #63d1bb;
  }

  .catalog-section__link--toys {
    background-color: #56c3b2;
  }

  .catalog-section__link--decor::before {
    top: 30px;
    left: 258px;
  }

  .catalog-section__link--toys::before {
    top: 30px;
    left: 240px;
  }

  .catalog-section__link--decor:hover,
  .catalog-section__link--decor:focus {
    background-color: #59d5bc;
  }

  .catalog-section__link--decor:hover::before,
  .catalog-section__link--decor:focus::before {
    opacity: 0.7;
  }

  .catalog-section__link--decor:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #59d5bc;
  }

  .catalog-section__link--decor:active::before {
    opacity: 0.3;
  }

  .catalog-section__link--toys:hover,
  .catalog-section__link--toys:focus {
    background-color: #46c1ae;
  }

  .catalog-section__link--toys:hover::before,
  .catalog-section__link--toys:focus::before {
    opacity: 0.7;
  }

  .catalog-section__link--toys:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #46c1ae;
  }

  .catalog-section__link--toys:active::before {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .catalog-section {
    width: 1050px;
  }

  .catalog-section__link {
    width: 525px;
    padding-right: 370px;
  }

  .catalog-section__link--decor::before {
    left: 449px;
  }

  .catalog-section__link--toys::before {
    top: 32px;
    left: 430px;
  }
}
