.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item-title {
  line-height: 24px;
}

.catalog__item-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog__item-price {
  font-size: 15px;
  line-height: 24px;
}
