.catalog-section {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-section__link {
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  text-align: left;
}

.catalog-section__link--left {
  background-color: #63d1bb;
}

.catalog-section__link--right {
  background-color: #56c3b2;
}
