.catalog {
  width: 260px;
  margin-bottom: 30px;
}

.catalog__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.catalog__item--last {
  margin-bottom: 0;
}

.catalog__item-image {
  margin: 0;
  padding: 0;
}

.catalog__image {
  display: block;
}

.catalog__item-wrapper {
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 28px;
  padding-right: 26px;
  border: 1px solid #ececec;
}

.catalog__item-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.catalog__item-info {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog__item-buy {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog__item-buy::before {
  content: "";

  position: absolute;
  top: -22px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #ececec;
}

.catalog__item-price {
  font-size: 15px;
  line-height: 24px;
}

.catalog__button-buy {
  position: relative;
}

.catalog__button-buy::before {
  content: "";

  position: absolute;
  top: 2px;
  left: -22px;

  width: 21px;
  height: 18px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 668px;
    margin-bottom: 50px;
  }

  .catalog__item {
    flex-direction: row;
    margin-bottom: 54px;
  }

  .catalog__item--last {
    margin-bottom: 0;
  }

  .catalog__item-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 334px;
    padding-top: 25px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 33px;
  }

  .catalog__item-title {
    margin-bottom: 6px;
    padding-right: 32px;
    font-size: 20px;
  }

  .catalog__item-info {
    margin-bottom: auto;
    font-size: 15px;
  }

  .catalog__item-buy::before {
    top: -24px;
  }

  .catalog__item-price {
    padding-left: 5px;
    font-size: 17px;
  }

  .catalog__button-buy::before {
    left: -19px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1050px;
    margin-bottom: 60px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 50px;
  }

  .catalog__item--last {
    margin-right: auto;
  }

  .catalog__link:hover + .catalog__item-wrapper,
  .catalog__link:focus + .catalog__item-wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog__link:hover .catalog__item-title,
  .catalog__link:focus .catalog__item-title {
    color: rgba(0, 0, 0, 0.6);
  }

  .catalog__link:active + .catalog__item-wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog__link:active .catalog__item-title {
    color: rgba(0, 0, 0, 0.3);
  }

  .catalog__item-wrapper {
    width: 316px;
    min-height: 196px;
    padding-bottom: 24px;
    padding-right: 30px;
  }

  .catalog__item-title {
    padding-right: 20px;
    font-size: 20px;
  }

  .catalog__item-price {
    padding-left: 1px;
  }

  .catalog__button-buy::before {
    left: -22px;
  }

  .catalog__button-buy:hover::before,
  .catalog__button-buy:focus::before {
    background-image: url("../img/icon-cart-color.svg");
    opacity: 1;
  }

  .catalog__button-buy:active::before {
    opacity: 0.3;
  }
}
