.company-contacts {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.company-contacts__wrapper {
  display: flex;
  flex-direction: column;

  width: 260px;
  margin: 0 auto;
}

.company-contacts__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

.company-contacts__table {
  margin-bottom: 40px;
}

.company-contacts__map-link {
  margin-bottom: 40px;
}

.company-contacts__map {
  display: block;
}

.company-contacts__write-message {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .company-contacts__wrapper {
    width: 668px;
  }

  .company-contacts__title {
    margin-bottom: 64px;
    font-size: 43px;
    line-height: 50px;
  }

  .company-contacts__table {
    margin-bottom: 60px;
  }

  .company-contacts__map-link {
    margin-bottom: 54px;
  }

  .company-contacts__write-message {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .company-contacts {
    flex-wrap: wrap;
    width: 1050px;
    height: 457px; /*временно*/
    padding-left: 174px;
  }

  .company-contacts__wrapper {
    order: -2;
    width: 340px;
    margin: 0;
  }

  .company-contacts__title {
    margin-bottom: 60px;
    font-size: 53px;
    line-height: 57px;
  }

  .company-contacts__map-link {
    margin-bottom: 0;
  }

  .company-contacts__write-message {
    order: -1;
    margin: 0;
  }
}
