.company-contacts {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.company-contacts--zigzag {
  position: relative;
}

.company-contacts--zigzag::before {
  content: url("../img/bg-zigzag-line.svg");

  position: absolute;
  top: -38px;
  left: 0;

  width: 100%;
}

.company-contacts__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 260px;
  margin: 0 auto;
}

.company-contacts__title {
  box-sizing: border-box;
  width: 260px;
  margin: 0;
  margin-bottom: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 30px;
}

.company-contacts__table {
  margin-bottom: 8px;
}

.company-contacts__map-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 39px;
}

.company-contacts__map-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 457px;

  border: none;
}

.company-contacts__map-wrap p {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  width: 320px;
  margin: 0 auto;
}

.company-contacts__map-wrap p::before {
  content: "";

  position: absolute;
  top: 144px;
  left: 138px;
  z-index: 3;

  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.company-contacts__map-img {
  display: block;
  height: 457px;
}

.company-contacts__button-wrap {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .company-contacts--zigzag::before {
    top: -52px;
  }

  .company-contacts__wrapper {
    width: 668px;
  }

  .company-contacts__title {
    position: relative;
    box-sizing: border-box;
    width: 668px;
    margin-bottom: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 70px;
    font-size: 43px;
    line-height: 50px;
  }

  .company-contacts__title::after {
    content: "";

    position: absolute;
    top: 11px;
    right: 3px;

    width: 47px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .company-contacts__table {
    margin-bottom: 56px;
  }

  .company-contacts__map-wrap {
    margin-bottom: 55px;
  }

  .company-contacts__map-wrap p {
    width: 770px;
  }

  .company-contacts__map-wrap p::before {
    top: 139px;
    left: 363px;
  }

  .company-contacts__map-img {
    width: 770px;
    height: 457px;
  }

  .company-contacts__button-wrap {
    width: 230px;
  }

  .company-contacts__button {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .company-contacts {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
  }

  .company-contacts--zigzag::before {
    top: -95px;
  }

  .company-contacts__wrapper {
    width: 50%;
    margin: 0;
    padding-left: 170px;
  }

  .company-contacts__title {
    width: 350px;
    margin-top: 44px;
    margin-bottom: 22px;
    padding-right: 10px;
    font-size: 53px;
    line-height: 57px;
  }

  .company-contacts__title::after {
    top: 18px;
    right: 410px;
  }

  .company-contacts__table {
    margin-bottom: 82px;
    margin-left: 4px;
  }

  .company-contacts__map-wrap {
    width: 50%;
    margin: 0;
    margin-left: auto;
  }

  .company-contacts__map-wrap p {
    width: 525px;
  }

  .company-contacts__map-wrap p::before {
    top: 146px;
    left: 238px;
  }

  .company-contacts__map-img {
    width: 525px;
    height: 457px;
  }

  .company-contacts__button-wrap {
    margin: 0;
    margin-top: -52px;
    padding-left: 175px;
  }
}
