.copyright {
  padding-left: 40px;
  padding-right: 40px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  padding-top: 6px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.copyright__logo {
  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 184px;
    padding: 0;
  }

  .copyright__text {
    padding-top: 13px;
  }

  .copyright__logo {
    padding-top: 8px;
  }

  .copyright__link:hover .copyright__logo,
  .copyright__link:focus .copyright__logo {
    fill: #46c1ae;
  }

  .copyright__link:active .copyright__logo {
    opacity: 0.3;
  }

  .copyright__link:active .copyright__text {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 184px;
  }
}
