.field-extra {
  margin-bottom: 18px;
  border: none;
}

.field-extra__title {
  .form-legend;
  margin-bottom: 16px;
}

.field-extra__textarea {
  box-sizing: border-box;
  width: 260px;
  height: 142px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  padding-right: 17px;
  border: 2px solid #444444;
}

.field-extra__textarea::placeholder {
  .form-placeholder;
}

@media (min-width: @tablet-width) {
  .field-extra {
    margin-bottom: 50px;
  }

  .field-extra__wrap {
    display: flex;
    width: 668px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .field-extra__title {
    box-sizing: border-box;
    width: 168px;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 12px;
  }

   .field-extra__textarea {
    width: 500px;
  }
}

@media (min-width: @desktop-width) {
  .field-extra__wrap {
    width: 1050px;
  }

  .field-extra__title {
    width: 174px;
    padding-left: 62px;
  }

   .field-extra__textarea {
    width: 700px;
  }
}
