.field-phone {
  margin-bottom: 42px;
  border: none;
}

.field-phone__title {
  .form-legend;
  margin-bottom: 16px;
}

.field-phone__input {
  box-sizing: border-box;
  width: 260px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 1px;
  padding-right: 36px;
  border: none;
  box-shadow: 0 2px 0 0 #000000;
}

.field-phone__input::placeholder {
  .form-placeholder;
}
