.field-email {
  margin-bottom: 34px;
  border: none;
}

.field-email__wrap {
  position: relative;
}

.field-email__title {
  .form-title;
  margin-bottom: 5px;
}

.field-email__title::after {
  content: "";

  position: absolute;
  top: 8px;
  right: 0;

  width: 198px;
  height: 1px;
  background-color: #62d1ba;
}

.field-email__input {
  box-sizing: border-box;
  width: 260px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 40px;
  border: none;
  box-shadow: 0 2px 0 0 #000000;
}

.field-email__input::placeholder {
  .form-placeholder;
}

.field-email__icon-email {
  position: absolute;
  top: 34px;
  right: 4px;
  opacity: 0.2;
}

@media (min-width: @tablet-width) {
  .field-email {
    margin-bottom: 0;
    background-color: #f1f1f1;
  }

  .field-email__wrap {
    display: flex;
    width: 668px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .field-email__title {
    box-sizing: border-box;
    width: 168px;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 2px;
  }

  .field-email__title::after {
    content: none;
  }

  .field-email__input {
    width: 500px;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 17px;
    background-color: #f1f1f1;
    background-position: 447px center;

    &:hover,
    &:focus {
      box-shadow: 0 2px 0 0 #62d1ba;
    }

    &:active {
      box-shadow: 0 2px 0 0 #62d1ba;
    }

    &:hover + .field-email__icon-email,
    &:focus + .field-email__icon-email {
      fill: #62d1ba;
      opacity: 1;
    }
  }

  .field-email__icon-email {
    top: 37px;
    right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .field-email__wrap {
    width: 1050px;
  }

  .field-email__title {
    width: 174px;
    padding-left: 62px;
  }

  .field-email__input {
    width: 700px;
    background-position: 664px center;
  }

  .field-email__icon-email {
    top: 36px;
    right: 179px;
  }
}
