.field-email {
  margin-bottom: 42px;
  border: none;
}

.field-email__title {
  .form-legend;
  margin-bottom: 16px;
}

.field-email__input {
  box-sizing: border-box;
  width: 260px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 1px;
  padding-right: 38px;
  border: none;
  box-shadow: 0 2px 0 0 #000000;
}

.field-email__input::placeholder {
  .form-placeholder;
}
