.field-name {
  margin-bottom: 35px;
  border: none;
}

.field-name__title {
  .form-title;
  margin-bottom: 30px;
}

.field-name__title::after {
  content: "";

  position: absolute;
  top: 8px;
  right: 0;

  width: 198px;
  height: 1px;
  background-color: #62d1ba;
}

.field-name__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.field-name__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.field-name__item--last {
  margin-bottom: 0;
}

.field-name__input {
  box-sizing: border-box;
  width: 260px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 1px;
  padding-right: 17px;
  border: none;
  box-shadow: 0 2px 0 0 #000000;
}

.field-name__label {
  .form-label;
}

.field-name__input::placeholder {
  .form-placeholder;
}

@media (min-width: @tablet-width) {
  .field-name {
    margin-bottom: 28px;
  }

  .field-name__wrap {
    display: flex;
    width: 668px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .field-name__title {
    box-sizing: border-box;
    width: 168px;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 2px;
  }

  .field-name__title::after {
    content: none;
  }

  .field-name__list {
    width: 500px;
  }

  .field-name__item {
    flex-direction: row;
    margin-bottom: 25px;
  }

  .field-name__label {
    padding-top: 18px;
    padding-bottom: 12px;
    padding-right: 36px;
  }

  .field-name__label-name {
    padding-right: 29px;
  }

  .field-name__input {
    width: 100%;
    padding-top: 16px;
    padding-left: 17px;
  }

  .field-name__input:hover,
  .field-name__input:focus {
    box-shadow: 0 2px 0 0 #62d1ba;
  }

  .field-name__input:active {
    box-shadow: 0 2px 0 0 #62d1ba;
  }
}

@media (min-width: @desktop-width) {
  .field-name__wrap {
    width: 1050px;
  }

  .field-name__title {
    width: 174px;
    padding-left: 62px;
  }

  .field-name__list {
    width: 700px;
  }

  .field-name__label {
    padding-top: 17px;
    padding-left: 4px;
  }
}
