.filter-type {
  margin-bottom: 18px;
  border: none;
}

.filter-type__title {
  .form-legend;
  margin-bottom: 16px;
}

.filter-type__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-type__item {
  margin-bottom: 24px;
}

.filter-type__label {
  .form-label;
  padding-left: 40px;
}
