.form-legend() {
  font-size: 16px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form-label() {
  font-size: 17px;
  line-height: 18px;
}

.form-placeholder() {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.form-order {
  width: 260px;
  margin: 0 auto;
}

.form-order__section {
  margin: 0;
  padding: 0;
}

.form-order__note {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
