.form-order {
  width: 260px;
  margin: 0 auto;
}

.form-order__section {
  margin: 0;
  padding: 0;
}

.form-order__note {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .form-order {
    width: auto;
    margin: 0;
  }
}
