.header-search {
  position: relative;
}

.header-search__item {
  border: none;
}

.header-search__item::placeholder {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.header-search label::before {
  content: "";

  position: absolute;
  top: 32px;
  left: 0;

  width: 18px;
  height: 18px;

  background-image: url("../../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

/*@media (min-width: @tablet-width) {
  .header-search__item {
    display: none;
  }
}
*/
