.modal-item__title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal-item__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #444444;
}

.modal-item__button {
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
