.page-main__slogan {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 190px;
  font-size: 26.5px;
  line-height: 29.5px;
  color: #010000;
  text-align: center;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.page-main__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #ececec; /*!!!! Проверить цвет фона еще раз!*/
}

.page-main__title--form {
  color: #231f20;
}

.page-main__intro {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
