.page-header {
  display: flex;
  flex-direction: column;

  line-height: 24px;
}

.page-header__logo {
  height: 80px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
  }

  .page-header__logo {
    height: 90px;
  }
}
