.page-header {
  width: 320px;
  margin: 0 auto;

  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: auto;
    margin: 0;
  }

  .page-header__wrapper {
    width: 670px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1050px;
  }
}
