.page-main {
  background-color: #ffffff;
}

.page-main__intro {
  margin-bottom: 17px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% -20px;
  background-repeat: no-repeat;
  background-color: #f9f9f9;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-main__intro--inner {
  margin-bottom: 30px;
  background-image: none;
  background-color: #f1f1f1;
}

.page-main__intro--form {
  margin-bottom: 23px;
}

.page-main__intro-wrap {
  width: 260px;
  min-height: 233px;
  margin: 0 auto;
  padding-top: 50px;
}

.page-main__intro-wrap--inner {
  min-height: 106px;
}

.page-main__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
}

.page-main__desc-wrap {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.page-main__desc-text {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .page-main__intro {
    margin-bottom: 40px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0%;
    box-shadow: 0 -1px 0 0 #ececec;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 770px auto;
    }
  }

  .page-main__intro--inner {
    margin-bottom: 86px;
    background-image: none;
  }

  .page-main__intro--form {
    margin-bottom: 83px;
  }

  .page-main__intro-wrap {
    width: 668px;
    min-height: 494px;
    padding-top: 134px;
  }

  .page-main__intro-wrap--inner {
    min-height: 120px;
    padding-top: 100px;
  }

  .page-main__intro-wrap--form {
    padding-top: 96px;
  }

  .page-main__title {
    font-size: 43px;
    line-height: 50px;
    color: #000000;
  }

  .page-main__desc {
    position: relative;
  }

  .page-main__desc::before {
    content: url("../img/bg-zigzag-fill.svg");

    position: absolute;
    top: -86px;
    left: 0;

    width: 100%;
  }

  .page-main__desc-wrap {
    width: 668px;
    margin-bottom: 24px;
  }

  .page-main__desc-text {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__intro {
    margin-bottom: 118px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .page-main__intro--inner {
    margin-bottom: 128px;
    background-image: none;
  }

  .page-main__intro--form {
    margin-bottom: 122px;
  }

  .page-main__intro-wrap {
    width: 1050px;
    min-height: 494px;
  }

  .page-main__intro-wrap--inner {
    min-height: 160px;
    padding-top: 95px;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__desc::before {
    top: -140px;
  }

  .page-main__desc-wrap {
    width: 1050px;
  }

  .page-main__desc-text {
    padding-left: 175px;
    padding-right: 160px;
  }
}
