.page-main {
  background-color: #ffffff;
}

.page-main__intro {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% -20px;
  background-repeat: no-repeat;
  background-color: #f9f9f9;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-main__intro--inner {
  margin-bottom: 30px;
  background-image: none;
  background-color: #f1f1f1;
}

.page-main__intro--inner-form {
  margin-bottom: 23px;
}

.page-main__intro-wrap {
  width: 260px;
  min-height: 213px;
  margin: 0 auto;
  padding-top: 70px;
}

.page-main__intro-wrap--inner {
  min-height: 106px;
}

.page-main__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
}

.page-main__desc {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.page-main__desc-text {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  text-align: left;
}

.page-main__wrapper--zigzag {
  position: relative;
}

.page-main__wrapper--zigzag::after {
  content: "";

  position: absolute;
  top: 810px;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-main__wrapper--inner {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-main__intro {
    margin-bottom: 44px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0%;
    box-shadow: 0 -1px 0 0 #ececec;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 770px auto;
    }
  }

  .page-main__intro--zigzag::after {
    content: "";

    position: absolute;
    top: 818px;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .page-main__intro--inner {
    margin-bottom: 88px;
    background-image: none;
  }

  .page-main__intro--inner.page-main__intro--zigzag::after {
    top: 292px;
  }

  .page-main__intro--inner-form {
    margin-bottom: 80px;
  }

  .page-main__intro-wrap {
    width: 668px;
    min-height: 473px;
    padding-top: 156px;
  }

  .page-main__intro-wrap--inner {
    min-height: 120px;
    padding-top: 100px;
  }

  .page-main__title {
    font-size: 43px;
    line-height: 50px;
    color: #000000;
  }

  .page-main__desc {
    width: 668px;
    margin-bottom: 24px;
  }

  .page-main__desc-text {
    font-size: 17px;
    line-height: 30px;
  }

  .page-main__wrapper--zigzag::after {
    top: 560px;
  }

  .page-main__wrapper--inner {
    width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-main__intro {
    margin-bottom: 122px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .page-main__intro--inner {
    margin-bottom: 122px;
    background-image: none;
  }

  .page-main__intro--inner.page-main__intro--zigzag::after {
    top: 324px;
  }

  .page-main__intro-wrap {
    width: 1050px;
    min-height: 473px;
  }

  .page-main__intro-wrap--inner {
    min-height: 160px;
    padding-top: 95px;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__desc {
    width: 1050px;
  }

  .page-main__desc-text {
    padding-left: 175px;
    padding-right: 160px;
  }

  .page-main__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .page-main__wrapper--zigzag::after {
    top: 660px;
  }
}
