.product-main {
  text-align: left;
}

.product-main__title {
  color: #63d1bb;
  text-transform: uppercase;
}

.product-main__subtitle {
  font-size: 25px;
  line-height: 30px;
}

.product-main__intro {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-main__price {
  line-height: 24px;
  color: #444444;
  text-align: center;
}
