.reviews {
  margin-bottom: 86px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-bottom: 146px;
    background-image: url("../img/review@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 350px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    order: -2;
    margin: 0;
    margin-left: -4px;
    margin-right: auto;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__write-review {
    order: -1;
    width: 176px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    margin-bottom: 161px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 53px;
  }

  .reviews__write-review {
    margin-top: 6px;
  }
}
