.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
}

.social__link--instagram {
  margin-right: 41px;
  padding-top: 5px;
}

.social__link--facebook {
  margin-right: 40px;
}

.social__link--twitter {
  padding-top: 6px;
}

.social__link-icon {
  fill: #231F20;
}


@media (min-width: @tablet-width) {
  .social__link--instagram {
    padding-top: 13px;
  }

  .social__link--facebook {
    padding-top: 8px;
  }

  .social__link--twitter {
    padding-top: 13px;
  }

  .social__link:hover .social__link-icon,
  .social__link:focus .social__link-icon {
    fill: #46c1ae;
  }

  .social__link:active .social__link-icon {
    opacity: 0.3;
  }
}
